{% extends 'base.html' %}
{% load static %}
    <title>{% block title %}{{this_user.fname}}'s Gear{% endblock title %}</title>
{% block css %}
    {% load django_simple_bulma %}
    {% load widget_tweaks %}
    {% bulma %}
    {% font_awesome %}
    <style>
    </style>
{% endblock css %}

{% block header %}
    <nav class="navbar is-success is-top-right" role="navigation" aria-label="main-navigation">
        <div class="navbar-brand">
            <h2 class="navbar-item">Welcome, {{request.session.name}}</h2>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/dashboard/" class="navbar-item">Back</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/myAccount/{{request.session.user_id}}">My Profile</a>
                <a class="navbar-item" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
{% endblock header %}
{% block content %}
    <div class="container">
        <h2 class="subtitle mt-4">Gear List</h2>
        <div class="table-container mb-5">
            <table class="table is-centered is-striped is-bordered is-hoverable">
                <thead>
                    <tr class="is-selected">
                        <th class="is-success">Name</th>
                        <th class="is-success">Photo</th>
                        <th class="is-success">Category</th>
                        <th class="is-success">Link</th>
                        <th class="is-danger">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if mygear %}
                    {% for gear in mygear %}
                    <tr>
                        <td>{{gear.name}}</td>
                        {% if gear.photo %}
                        <td>
                            <figure class="image is-64x64">
                                <img class="is-fullwidth" src="{{gear.photo.url}}">
                            </figure>
                        </td>
                        {% endif %}
                        <td>{{thistrip.start_date}}</td>
                        <td>{{thistrip.end_date}}</td>
                        <td><a href="/myAccount/{{this_user.id}}/deleteGear">Delete?</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>You don't have any gear!</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <section class="hero is-success has-bg-img">
            <div class="hero-body">
                <p class="title">Add New Gear</p>
                <p class="subtitle">
                Gear is tied to your profile so make sure it's updated!
                </p>
            </div>
        </section>
        <div class="block">
            <div class="gear-form">
                <form action="/myAccount/{{this_user.id}}/myGear" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in gearform %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{field.label}}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{field}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-success" value="Add Gear!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

