{% extends 'base.html' %}
    <title>{% block title %}{{request.session.name}}'s Profile{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/myStyles.css' %}">
{% block header %}
    <nav class="navbar is-success is-top-right" role="navigation" aria-label="main-navigation">
        <div class="navbar-brand">
            <h2 class="navbar-item">Welcome, {{request.session.name}}</h2>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a onclick="history.back()" class="navbar-item">Back</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/myAccount/{{request.session.user_id}}/myGear">My Gear</a>
                <a class="navbar-item" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
{% endblock header %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical ml-4 box is-6">
            <h2 class="subtitle mt-4">Trips You Created</h2>
            <div class="table-container mb-5">
                <table class="table is-striped is-bordered is-hoverable">
                    <thead>
                        <tr class="is-selected">
                            <th class="is-success">Trip</th>
                            <th class="is-success">Coordinator</th>
                            <th class="is-success">Start Date</th>
                            <th class="is-success">End Date</th>
                            <th class="is-success">Participants</th>
                            <th class="is-success">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trip in created_trips %}
                        <tr>
                            <td><a href="/dashboard/trip/{{trip.id}}">{{trip.name}}</a></td>
                            <td>{{trip.creator.fname}}</td>
                            <td>{{trip.start_date}}</td>
                            <td>{{trip.end_date}}</td>
                            <td>
                            {% for users in trip.participants.all %}
                                {% if users %}
                                    <ul class="no-bullets"><li>{{users.fname}}</li></ul>
                                {% endif %}
                            {% endfor %}
                            {% if not trip.participants.all %}
                                <ul class="no-bullets"><li>No Participants</li></ul>
                            {% endif %}
                            </td>
                            <td>{{trip.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tile is-child box">
                <h2 class="subtitle mt-4">Trips You Participated in</h2>
                <div class="table-container mb-5">
                    <table class="table is-striped is-bordered is-hoverable">
                        <thead>
                            <tr class="is-selected">
                                <th class="is-success">Trip</th>
                                <th class="is-success">Coordinator</th>
                                <th class="is-success">Start Date</th>
                                <th class="is-success">End Date</th>
                                <th class="is-success">Participants</th>
                                <th class="is-success">Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trip in mytrips %}
                            <tr>
                                <td><a href="/dashboard/trip/{{trip.id}}">{{trip.name}}</a></td>
                                <td>{{trip.creator.fname}}</td>
                                <td>{{trip.start_date}}</td>
                                <td>{{trip.end_date}}</td>
                                <td>
                                {% for users in trip.participants.all %}
                                    {% if users %}
                                        <ul class="no-bullets"><li>{{users.fname}}</li></ul>
                                    {% endif %}
                                {% endfor %}
                                {% if not trip.participants.all %}
                                    <ul class="no-bullets"><li>No Participants</li></ul>
                                {% endif %}
                                </td>
                                <td>{{trip.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-6 is-vertical">
            <h2 class="subtitle mt-4">Gear List</h2>
            <div class="table-container mb-5">
                <table class="table is-centered is-striped is-bordered is-hoverable is-fullwidth">
                    <thead>
                        <tr class="is-selected">
                            <th class="is-success">Name</th>
                            <th class="is-success">Photo</th>
                            <th class="is-success">Category</th>
                            <th class="is-success">Link</th>
                            {% if request.session.user_id == this_user.id %}
                                <th class="is-danger">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if mygear %}
                        {% for gear in mygear %}
                        <tr>
                            <td>{{gear.name}}</td>
                            {% if gear.photo %}
                            <td>
                                <figure class="image is-3by4">
                                    <img class="is-fullwidth" src="{{gear.photo.url}}">
                                </figure>
                            </td>
                            {% endif %}
                            <td>{{gear.category}}</td>
                            <td>{{gear.link}}</td>
                            {% if request.session.user_id == this_user.id %}
                                <td><a href="/myAccount/{{this_user.id}}/myGear/{{gear.id}}/delete">Delete?</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>You don't have any gear!</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="tile is-child has-background-light box">
                <h2 class="subtitle mt-4">Add New Piece of Gear!</h2>
                <form action="/myAccount/{{this_user.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in gearform %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{field.label}}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{field}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-success" value="Add Gear!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock content %}
